<ion-header>
  <ion-toolbar>
    <ion-title>Espace personnel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-logo">
    <img src="assets/img/users/user.png">
  </div>
  <ion-item>
    <ion-card>
      <ion-card-header>
        <ion-item detail="false">
          Informations personnelles
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item detail="false">
          Nom : {{last_name}}
        </ion-item>
        <ion-item detail="false">
          Prenom : {{first_name}}
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-item>


  <ion-grid >
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="4" *ngFor="let item of seances">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item>
              seances du: {{item[3]}}
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                {{item[0]}}
              </ion-item>
              <ion-item>
                {{item[1]}}
              </ion-item>
              <ion-item>
                {{item[2]}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
