<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Pro'rientation</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">

           <ion-menu-toggle *ngIf="hideButton == false" autoHide="false">
            <ion-item>
                
              </ion-item>
            </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="" routerLinkActive="false" routerDirection="root" detail="false" (click)=enableShowFormTrail()>
                <ion-icon slot="start" [name]="run"></ion-icon>
                <ion-label>Trail</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <form #distanceForm="ngForm" *ngIf="hideFormTrail == false" (ngSubmit)="onClickSubmitTrail(distanceForm)">
            <ion-list>
              <ion-item>
                <ion-label position="stacked" color="primary">Entrer une distance</ion-label>
                <ion-input name="distanceTrail" type="number" placeholder="distance" ngModel required></ion-input>
              </ion-item>
            </ion-list>
            <ion-button type = "submit">Commencer session</ion-button>
          </form>
          
          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="" routerLinkActive="false" routerDirection="root" detail="false" (click)=enableShowFormOrientation()>
                <ion-icon slot="start" [name]='compass'></ion-icon>
                <ion-label>Orientation</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <form #distanceForm="ngForm" *ngIf="hideFormOrientation == false" (ngSubmit)="onClickSubmitOrientation(distanceForm)">
            <ion-list>
              <ion-item>
                <ion-label position="stacked" color="primary">Entrer une distance</ion-label>
                <ion-input name="distance" type="number" placeholder="distance" ngModel required></ion-input>
              </ion-item>
            </ion-list>
            <ion-button type = "submit">Commencer session</ion-button>
          </form>
        
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            Compte
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Compte
              </ion-label>
            </ion-item>
          </ion-menu-toggle>



          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Déconnexion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Compte
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Connexion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>



          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Inscription
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list>
          <ion-item>
            <ion-label>
              Mode nuit
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>


</ion-app>
